.company-form {
    border: 1px solid var(--slight-grey);
    padding: 10px;
    border-radius: 5px;
}

.company-form > header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-form > header img {
    width: 20px;
    margin: 0;
    padding: 0;
}

.company-form > header button {
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

.company-form > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.company-form > form.visible {
    animation: expand 300ms ease-in-out;
    transform-origin: top;
}

@keyframes expand {
    0% {
      transform: scaleY(0);
    }
    
    100% {
      transform: scaleY(1);
    }
}

.company-form > form.hidden {
    display: none;
}

.company-form > form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 600;
}

.company-form label > input {
    background-color: var(--off-white);
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
}

.company-form label > input:focus {
    outline: none;
    border: 1px solid var(--black);
}

.company-form .dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.company-form .dates > * {
    flex-basis: 50%;
}

.company-form > form textarea {
    border: 1px solid var(--slight-grey);
    border-radius: 5px;
}

.company-form > form textarea:focus {
    outline: none;
    border: 1px solid var(--black);
}

.company-form > form > .delete-button {
    color: var(--grey);
    border: 1px solid var(--grey);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

@media (max-width: 800px) {
    .company-form .dates {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}