.edit-section {
    flex-grow: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

@media (min-width: 801px) and (max-width: 1200px) {
    .edit-section {
        padding: 10px;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .edit-section {
        padding: 10px;
        align-items: center;
    }
}
