.display-section .page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    padding: 50px;
    width: 80%;
    min-width: 400px;
    height: calc(100vh - 40px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.display-section .page .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.display-section .page .contact-info > * {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.display-section .page header .full-name {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.display-section .page .contact-info a {
    text-decoration: none;
}

.display-section .page header img {
    width: 20px;
}

.display-section > .page > .education {
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

.display-section > .page > .education > h3 {
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
    margin-bottom: 0;
}

.display-section > .page > .education > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-section > .page > .education > section > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.display-section > .page > .education .degree {
    font-style: italic;
    font-weight: 600;
}

.display-section > .page > .education .description {
    word-wrap: break-word;
}

.display-section > .page > .experience {
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

.display-section > .page > .experience > h3 {
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
    margin-bottom: 0;
}

.display-section > .page > .experience > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.display-section > .page > .experience > section > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.display-section > .page > .experience .position {
    font-style: italic;
    font-weight: 600;
}

.display-section > .page > .experience .description {
    word-wrap: break-word;
}

@media (min-width: 801px) and (max-width: 1200px) {
    .display-section .page {
        width: 100%;
        height: calc(100vh - 10px);
    }
}

@media (max-width: 800px) {
    .display-section .page {
        width: 100%;
    }

    .display-section > .page .contact-info {
        flex-direction: column;
    }
}