* {
  /* Fix issue with extra space on the side when adding padding */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
}

#root {
  --off-white: #f3f4f6;
  --white: white;
  --black: black;
  --grey: #cbd5e1;
  display: flex;
  background-color: var(--off-white);
  min-width: 300px;
}

@media (max-width: 800px) {
  #root {
    flex-direction: column;
  }
}

